.main-header-body {
  background-color: black;
  color: whitesmoke;
  min-height: 24px;
  padding: 16px;

  display: flex;
  justify-content: space-between;
}

.header-icon {
  height: 24px;
  margin-left: 8px;
}

.header-links {
  text-decoration: none;
  color: white;
  font-weight: 650;
}
.header-links:hover {
  color: yellow;
}

.grouped-header-links {
  width: 32vw;
  margin-right: 8px;
  
  display: flex;
  justify-content: space-between;
}